BinPackArguments: true
BreakStringLiterals: false
ColumnLimit: 100
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
PenaltyBreakComment: 0
SortIncludes: CaseInsensitive
SpaceBeforeParens: ControlStatementsExceptControlMacros
UseTab: Never
AllowShortFunctionsOnASingleLine: None
